<!--this is the fun-->
<div class"container-fluid padding">
  <div class="row">
    <div class="col-lg-12">
      <button class="btn fun" data-toggle="collapse" data-target="#gifs">Have Fun</button>
    </div>
  </div>
  <div class ="row collapse" id="gifs">

    <div class="col-xs-12 col-sm-6 col-md-3">
      <img class ="gif" src= "/images/gif/chicken.gif">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img class ="gif" src= "/images/gif/panda.gif">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img class ="gif" src= "/images/gif/poo.gif">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img class ="gif" src= "/images/gif/unicorn.gif">
    </div>

  </div>
</div>

<div class="container-fluid">

	<div class ="row">
		<div class="col-md-12 text-center footer">
				<h3>CopyRight Ghanmi Hamza and Gamra Chaker 2019</h3>
				<div class="social_media">
					<a href="#"><i class="fab fa-facebook fa-lg"></i></a>
					<a href="#"><i class="fab fa-twitter fa-lg"></i></a>
					<a href="#"><i class="fab fa-google-plus fa-lg"></i></a>	
				</div>
		</div>
	</div>
</div>

